@(eventForm: Form[EventForm])(implicit messages: Messages)
@import helper._

@main("Useless Devices") {
    <h1>Useless Devices</h1>
    @form(action = routes.HomeController.echo()) {
        @inputText(eventForm("title"), '_label -> "Title", '_showConstraints -> false)
        @inputText(eventForm("description"), '_label -> "Details", '_showConstraints -> false)
        @input(eventForm("startDate"), '_label -> "When to begin?", '_showConstraints -> false) { (id, name, value, args) =>
            <input type="datetime-local" name="@name" id="@id" value=@value @toHtmlArgs(args)>
        }
        @input(eventForm("endDate"), '_label -> "When to end?", '_showConstraints -> false) { (id, name, value, args) =>
            <input type="datetime-local" name="@name" id="@id" value=@value @toHtmlArgs(args)>
        }
        @select(eventForm("recurrenceScheme"),
            options(
                "hourly" -> "hourly",
                "daily" -> "daily",
                "weekly" -> "weekly",
                "biweekly" -> "biweekly",
                "monthly" -> "monthly",
                "yearly" -> "yearly"
            ),
            '_label -> "How often?", '_showConstraints -> false
        )
        <input type="submit">
    }
}